* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 241, 241);
    font-size: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 8%;
    width: 380px;
    height: 600px;
    background-color: rgb(22, 22, 22);
    padding: 5px;
    border-radius: 15px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.5);
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    margin: 30px 0 10px;
    padding: 0 10px;
    background-color: rgb(41, 41, 41);
    font-size: 50px;
    color: aliceblue;
    border-radius: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    gap: 2px;
    grid-area: btn-background;
    grid-template-areas: 
    "clear clear delete divide"
    "one two three multiply"
    "four five six minus"
    "seven eight nine plus"
    "pm  zero dot equal";
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 68, 68);
    color: aliceblue;
    border-radius: 10px;
    font-size: 25px;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.buttons:hover {
    background-color: rgb(48, 48, 48);
}

.buttons:active {
    background-color: rgb(29, 29, 29);
}

/* Individual buttons */
#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#dot {
    grid-area: dot;
}

#plus-minus {
    grid-area: pm;
}

#plus {
    grid-area: plus;
    background-color: rgb(48, 48, 48);
}

#plus:hover {
    background-color: rgb(29, 29, 29);
}

#plus:active {
    background-color: rgb(15, 15, 15);
}



#minus {
    grid-area: minus;
    background-color: rgb(48, 48, 48);
}

#minus:hover {
    background-color: rgb(29, 29, 29);
}

#minus:active {
    background-color: rgb(15, 15, 15);
}



#multiply {
    grid-area: multiply;
    background-color: rgb(48, 48, 48);
}

#multiply:hover {
    background-color: rgb(29, 29, 29);
}

#multiply:active {
    background-color: rgb(15, 15, 15);
}



#divide {
    grid-area: divide;
    background-color: rgb(48, 48, 48);
}

#divide:hover {
    background-color: rgb(29, 29, 29);
}

#divide:active {
    background-color: rgb(15, 15, 15);
}



#equal {
    grid-area: equal;
    background-color: rgb(0, 221, 221);
    color: black;
}

#equal:hover {
    background-color: rgb(0, 196, 196);
}

#equal:active {
    background-color: rgb(0, 156, 156);
}



#clear {
    grid-area: clear;
    background-color: rgb(48, 48, 48);
}

#clear:hover {
    background-color: rgb(29, 29, 29);
}

#clear:active {
    background-color: rgb(15, 15, 15);
}



#delete {
    grid-area: delete;
    background-color: rgb(48, 48, 48);
}

#delete:hover {
    background-color: rgb(29, 29, 29);
}

#delete:active {
    background-color: rgb(15, 15, 15);
}


.footer a{
    color: rgb(0, 71, 133);
    text-decoration: none;
    font-weight: bold;
}

i {
    font-size: 15px;
}

.footer a:hover {
    color: rgb(112, 154, 238);
    text-shadow: 0px 0px 10px rgb(192, 218, 221);
    transition: all 0.3s ease;
}